header{
    background-color: #9183BD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #242526;
    width: 50%;
    height: 50px;
    border-radius: 0 0 50px 50px ;
    form{
        font-weight: bold;
        font-size: 20px;
    }
}